@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
:root {
  --primary: #0099ff;
  --primary-dark: #003f92;
  --color-page-background: #222229;
  background-color: var(--color-page-background);
  color: white; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth;
  font-family: 'Inter', Arial, sans-serif; }

body {
  display: flex;
  justify-content: center;
  overflow-x: hidden; }

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .main > div {
    width: 460px; }

input {
  border: none;
  background: #fafafa;
  color: #000;
  border-radius: 2px;
  padding: 10px; }
  input:disabled {
    background: #a8a8a8;
    color: #fff;
    cursor: not-allowed; }
    input:disabled::placeholder {
      color: #f1f1f1; }

button {
  margin: 0 1em 0 0; }

ul {
  list-style: none;
  margin: 1em;
  overflow: auto; }
  ul.toggles {
    overflow: hidden; }
  ul > li {
    margin: 0.5em 0; }

.main {
  width: 460px;
  margin: 1em; }

.chart {
  display: none;
  position: relative;
  margin: 0 0 1em 0;
  padding: 1em;
  border-radius: 10px;
  background-color: #eee;
  overflow-x: scroll; }
  .chart > canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; }
  .chart > div {
    width: 100%;
    overflow: hidden; }

.result {
  display: none;
  margin: 0 0 1em 0;
  padding: 1em;
  border-radius: 10px;
  background-color: #eee; }
  .result > div {
    color: #111; }

.buttons .container {
  display: block;
  position: relative;
  cursor: pointer;
  border-radius: 2px;
  padding: 0px 10px 0px 30px;
  line-height: 30px;
  background-color: #2196f3;
  color: white;
  user-select: none; }
  .buttons .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }
    .buttons .container input:checked ~ .checkmark:after {
      display: block; }
  .buttons .container:hover {
    background-color: #0072be; }
  .buttons .container .checkmark {
    margin: 1px 2px;
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px; }
    .buttons .container .checkmark:after {
      content: "";
      position: absolute;
      display: none; }

.details-modal {
  background: #eee;
  border-radius: 0.5em;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  left: 50%;
  max-width: 90%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30em;
  text-align: left;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  z-index: 1001; }
  .details-modal .details-modal-close {
    align-items: center;
    color: #111827;
    display: flex;
    height: 4.5em;
    justify-content: center;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 4.5em; }
    .details-modal .details-modal-close svg {
      pointer-events: all;
      display: block; }
  .details-modal .details-modal-title {
    color: #111827;
    padding: 1.5em 2em;
    pointer-events: all;
    position: relative;
    width: calc(100% - 4.5em); }
    .details-modal .details-modal-title h1 {
      font-size: 1.25rem;
      font-weight: 600;
      line-height: normal; }
  .details-modal .details-modal-content {
    color: black;
    border-top: 1px solid #e0e0e0;
    padding: 2em;
    pointer-events: all;
    overflow: auto; }

.details-modal-overlay {
  transition: opacity 0.2s ease-out;
  pointer-events: none;
  background: rgba(15, 23, 42, 0.8);
  position: fixed;
  opacity: 0;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: 50; }
  div[open] .details-modal-overlay {
    pointer-events: all;
    opacity: 0.5; }

div .title {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; }

div .sub-title {
  display: flex;
  align-items: center; }
  div .sub-title > :nth-child(2) {
    font-size: 1em;
    font-weight: bold;
    white-space: nowrap;
    padding: 0 1em; }

.line {
  width: 100%;
  border-bottom: 1px solid #ccc; }

div::-webkit-scrollbar {
  height: 8px; }

div::-webkit-scrollbar-track {
  background: #eee;
  border-radius: 10px; }

div::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 10px; }

.buttons {
  display: flex;
  justify-content: center;
  margin: 0.5em 0; }
  .buttons > .btn {
    font-weight: bold; }

.select {
  display: flex;
  justify-content: space-between; }
  .select > .buttons {
    flex-direction: column;
    margin: 1em 0; }
    .select > .buttons > .btn {
      margin: 0.5em; }

.btn {
  color: #ffffff;
  background-color: #0099ff;
  border: none;
  border-radius: 2px;
  padding: 5px 10px;
  font-size: 16px;
  text-align: center;
  cursor: pointer; }
  .btn:hover {
    background-color: #0072be; }
  .btn.submit {
    width: 100%;
    height: 3em;
    margin: 0;
    font-weight: bold; }
  .btn:disabled {
    cursor: not-allowed;
    background-color: #86b5d4; }

.content {
  margin: 0 0 1em 0;
  width: 100%;
  padding: 1em;
  border-radius: 10px;
  background-color: #eee; }

.input-menu {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .input-menu input {
    width: 100%;
    margin-bottom: 1em; }
  .input-menu > div {
    display: flex;
    width: 100%; }
    .input-menu > div > input:not(:first-child) {
      margin-left: 1em; }

.hahau {
  width: 460px; }

.charts-config > input:not(:first-child) {
  margin: 0 0.5em; }

.charts-config > button {
  margin: 0; }

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

div .options-menu {
  color: black; }

.matrix input {
  width: 5em;
  margin: 0 0.5em 0.5em 0; }

.matrix th:last-child input {
  content: "";
  position: absolute;
  display: none;
  background-color: black;
  color: azure;
  font-weight: bold;
  width: 4em;
  margin: 0; }

.matrix tr th:nth-child(1) {
  font-weight: bold;
  padding: 0.5em 1em; }

.matrix-label {
  padding: 0 0.5em 0 0;
  text-align: center; }

#text {
  padding: 1.5em;
  font-weight: bold;
  font-size: 16px;
  font-style: italic; }

.result-content {
  display: inline-flex;
  justify-content: left;
  width: 100%;
  overflow: auto; }
  .result-content .result-span {
    color: #ccc;
    margin: 5px;
    padding: 5px;
    background-color: #000;
    border-radius: 5px;
    white-space: nowrap; }
    .result-content .result-span .result-label {
      font-weight: bold;
      margin-right: 0.5em; }

#result-div {
  padding: 0.5em;
  overflow: auto; }
  #result-div .result-table {
    width: 100%;
    color: black;
    border-collapse: collapse; }
    #result-div .result-table thead {
      color: white; }
      #result-div .result-table thead th {
        padding: 0.5em;
        background-color: #0099ff; }
        #result-div .result-table thead th:first-child {
          text-align: left;
          padding-left: 16px;
          border-radius: 0.5em 0 0 0.5em; }
        #result-div .result-table thead th:last-child {
          border-radius: 0 0.5em 0.5em 0; }
    #result-div .result-table tbody tr {
      margin: 5px; }
      #result-div .result-table tbody tr:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.24); }
      #result-div .result-table tbody tr > td {
        padding: 5px 15px;
        white-space: nowrap; }
        #result-div .result-table tbody tr > td mjx-container {
          font-size: 110% !important; }
      #result-div .result-table tbody tr td:first-child mjx-container {
        text-align: left !important; }

.config-table {
  width: 100%;
  overflow-x: auto;
  display: none; }
  .config-table table {
    margin: 1em 0;
    border-collapse: collapse;
    width: 100%; }
    .config-table table tbody tr > td:not(:nth-child(1)):not(:nth-child(2)) input {
      width: 80px; }
    .config-table table tbody tr > td:not(:first-child) input {
      margin-left: 0.5em; }
    .config-table table tbody tr > td:first-child {
      padding: 0 0.5em;
      font-weight: bold;
      background-color: #0099ff;
      color: white; }
    .config-table table tbody tr > td {
      padding: 0.25em 0.5em 0.25em 0; }
    .config-table table tbody tr:first-child {
      background-color: #0099ff;
      color: white; }
      .config-table table tbody tr:first-child > td {
        padding: 0.5em 0;
        text-align: center;
        font-weight: bolder; }
      .config-table table tbody tr:first-child > td:first-child {
        border-radius: 10px 0 0 0; }
      .config-table table tbody tr:first-child > td:last-child {
        border-radius: 0 10px 0 0; }

.radio-methods {
  margin: 12px;
  padding: 0;
  list-style: none;
  width: 100%; }
  .radio-methods > li {
    margin: 16px 0;
    position: relative; }
  .radio-methods input[type='checkbox'],
  .radio-methods input[type='radio'] {
    --active: #0099ff;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #BBC1E1;
    --border-hover: #0099ff;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 20px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background .3s, border-color .3s, box-shadow .2s; }
    .radio-methods input[type='checkbox']:after,
    .radio-methods input[type='radio']:after {
      content: '';
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, 0.2s) var(--d-t-e, ease), opacity var(--d-o, 0.1s); }
    .radio-methods input[type='checkbox']:checked,
    .radio-methods input[type='radio']:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2); }
    .radio-methods input[type='checkbox']:disabled,
    .radio-methods input[type='radio']:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: .9; }
      .radio-methods input[type='checkbox']:disabled:checked,
      .radio-methods input[type='radio']:disabled:checked {
        --b: var(--disabled-inner);
        --bc: var(--border); }
      .radio-methods input[type='checkbox']:disabled + label,
      .radio-methods input[type='radio']:disabled + label {
        cursor: not-allowed; }
    .radio-methods input[type='checkbox']:hover:not(:checked):not(:disabled),
    .radio-methods input[type='radio']:hover:not(:checked):not(:disabled) {
      --bc: var(--border-hover); }
    .radio-methods input[type='checkbox']:focus,
    .radio-methods input[type='radio']:focus {
      box-shadow: 0 0 0 var(--focus); }
    .radio-methods input[type='checkbox']:not(.switch),
    .radio-methods input[type='radio']:not(.switch) {
      width: 20px; }
      .radio-methods input[type='checkbox']:not(.switch):after,
      .radio-methods input[type='radio']:not(.switch):after {
        opacity: var(--o, 0); }
      .radio-methods input[type='checkbox']:not(.switch):checked,
      .radio-methods input[type='radio']:not(.switch):checked {
        --o: 1; }
    .radio-methods input[type='checkbox'] + label,
    .radio-methods input[type='radio'] + label {
      font-size: 14px;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 4px; }
  .radio-methods input[type='checkbox']:not(.switch) {
    border-radius: 7px; }
    .radio-methods input[type='checkbox']:not(.switch):after {
      width: 5px;
      height: 9px;
      border: 2px solid var(--active-inner);
      border-top: 0;
      border-left: 0;
      left: 7px;
      top: 4px;
      transform: rotate(var(--r, 20deg)); }
    .radio-methods input[type='checkbox']:not(.switch):checked {
      --r: 43deg; }
  .radio-methods input[type='checkbox'].switch {
    width: 38px;
    border-radius: 11px; }
    .radio-methods input[type='checkbox'].switch:after {
      left: 2px;
      top: 2px;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      background: var(--ab, var(--border));
      transform: translateX(var(--x, 0)); }
    .radio-methods input[type='checkbox'].switch:checked {
      --ab: var(--active-inner);
      --x: 17px; }
    .radio-methods input[type='checkbox'].switch:disabled:not(:checked):after {
      opacity: .6; }
  .radio-methods input[type='radio'] {
    border-radius: 50%; }
    .radio-methods input[type='radio']:after {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: var(--active-inner);
      opacity: 0;
      transform: scale(var(--s, 0.7)); }
    .radio-methods input[type='radio']:checked {
      --s: .5; }
